﻿/*li {
    float: right;
}*/

#myPanel img {
    width: 25px;
    height: 25px;
}

.bx-wrapper .bx-viewport {
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.bx-wrapper {
    margin-top: -16px !important;
    height: 200px !important;
}

#NewRelease .ui-grid-b > .col-xs-4 img, #KidsMovies .ui-grid-b > .col-xs-4 img, #UpComming .ui-grid-b > .col-xs-4 img {
    height: 120px;
    width: 80px !important;
    margin-top: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-navbar li a span {
    font-size: 10px;
}
/* Active button */
.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
/* Active flipswitch background */
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color: transparent;
    border-color: transparent;
    color: #444 !important;
    text-shadow: none !important;
    border-bottom: 3px solid #3388cc !important;
}

.ui-btn, label.ui-btn {
    font-weight: bold;
    border-width: 1px;
    border-style: none !important;
}

.ui-panel {
    width: 12em !important;
}

.caption {
    display: block;
}

#IMGSlider li {
    background-color: black;
}

    #IMGSlider li p {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: larger;
        font-weight: bold;
        text-align: center;
        width: 235px;
        color: white;
    }

.bx-wrapper img {
    -ms-opacity: 0.5;
    opacity: 0.5;
}

#myPanel [data-role="listview"] li a {
    /*background-color: transparent !important;
    border-color: transparent !important;*/
    background-color: transparent;
    border-color: transparent;
    border: none !important;
    box-shadow: none;
}

.ui-listview > .ui-li-has-thumb > .ui-btn,
.ui-listview > .ui-li-static.ui-li-has-thumb {
    min-height: 1.625em !important;
    padding-left: 6.90em !important;
}

#myPanel li a p {
    margin: 7px 10px 0px -90px !important;
    display: initial !important;
    position: absolute;
}

#DiscoverMovieDetail ul {
    list-style-type: none;
}

.bx-viewport ul, menu, dir {
    padding: 0px;
}

#OverView p, #OverView h3, #MovieData h3 {
    margin: 5px 0;
}

#MovieData p {
    margin: 0px 0px;
}

#imgDiv img {
    margin: 7px 0px 0px 10px;
}

#BackdropPathDiv {
    height: 184px;
}

    #BackdropPathDiv img {
        width: 100%;
        height: auto;
    }

#VoteAveDiv {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

    #VoteAveDiv p {
        font-size: 25px;
        background-color: #1e272c !important;
        color: #ffffff !important;
        border-color: #1e272c !important;
        margin-top: 21px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        text-align: center;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 3px;
        margin: -38px 0px 0px 102px;
    }

#imgDiv {
    line-height: 1.4;
    padding-top: 10px;
    padding-bottom: 10px;
}

#DivAvgVote {
    width: 211px;
}

.ui-mobile a img, .ui-mobile fieldset {
    /*padding-top: 5px;*/
}

#ImgDefault {
    width: 80px !important;
    height: 120px;
}

.syntaxhighlighter {
    font-size: 1em !important;
    background: #eee;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.headerButton {
    float: left;
}

#VoteAve p {
    font-size: 16px;
    background-color: #1e272c !important;
    color: #ffffff !important;
    border-color: #1e272c !important;
    -ms-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    margin-bottom: 0px;
    margin-top: 4px;
}



#VoteAveID p {
    font-size: 16px;
    background-color: #1e272c !important;
    color: #ffffff !important;
    border-color: #1e272c !important;
    border-radius: 5px;
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    margin-bottom: 0px;
    margin-top: 4px;
}

#SearchMovie [data-role='header'].ui-fixed-hidden div {
    top: 0px;
}

#SearchMovie [data-role='header'].ui-fixed-hidden ~ [role='main'] #GridMovieInfo .ui-grid-b {
    margin-top: 5.2em;
}

#SearchMovie [data-role='header'] ~ [role='main'] #GridMovieInfo .ui-grid-b {
    margin-top: 8.2em;
}

#SearchMovie [data-role='header'].ui-fixed-hidden ~ [role='main'] [data-role='navbar'] {
    margin-top: 30px;
}

#SearchMovie [data-role='header'] ~ [role='main'] [data-role='navbar'] {
    margin-top: 70px;
}

#SearchMovie .ui-navbar ul {
    position: fixed;
    z-index: 1000;
    background: #eee;
    width: 100%;
    font-size: 1em !important;
    left: 0;
    right: 0;
}

#SearchMovie [data-role='header'].ui-fixed-hidden ~ [role='main'] #GridTvInfo .ui-grid-b {
    margin-top: 5.2em;
}

#SearchMovie [data-role='header'] ~ [role='main'] #GridTvInfo .ui-grid-b {
    margin-top: 8.2em;
}

#GridMovieInfo .ui-grid-b .col-xs-4, #GridTvInfo .ui-grid-b .col-xs-4, #Discover .ui-grid-b .col-xs-4 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#GridMovieInfo span.ui-corner-all, #GridTvInfo span.ui-corner-all {
    float: left;
    padding: 5px;
    background-color: black;
    color: white;
    margin-top: 2px;
}

#GridMovieInfo .ui-grid-b > .col-xs-4 img, #GridTvInfo .ui-grid-b > .col-xs-4 img {
    height: 120px;
    width: 80px !important;
    padding-top: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#SeaInfoID .ui-corner-all {
    box-shadow: none;
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 12em !important;
}

#MovieCastInfo .ui-grid-b > .ui-block-a img, .ui-grid-b > .ui-block-b img, .ui-grid-b > .ui-block-c img {
    height: 120px;
    width: 80px !important;
}

#MovieCastInfo .ui-grid-b > .ui-block-a p, .ui-grid-b > .ui-block-b p, .ui-grid-b > .ui-block-c p {
    margin-bottom: 0px;
    margin-top: 0px;
}

#OtherDetails ul li {
    margin: 2px 1px 0px -41px !important;
    font-size: 13px;
}

#OtherDetails #keywords a .ui-corner-all {
    text-transform: capitalize !important;
}

#DiscoverMovieDetail ul li {
    margin: 0;
    position: relative;
    float: left;
    font-size: 13px;
    background-size: cover;
    background-position: center;
}

#MovieData .ui-block-a p, #MovieData .ui-block-b p {
    word-wrap: break-word;
}

#keywords {
    margin-top: 5px;
}

#OtherDetails span.ui-corner-all {
    float: left;
    padding: 5px;
    background-color: #ebebeb;
    color: black;
    margin-top: 2px;
    margin: 0px 7px 6px 0px;
}







#WidthImg img {
    height: 120px;
    width: 80px !important;
}

#detailDiv {
    display: inline-block;
    margin: -3px 0px 0px 13px !important;
    position: absolute;
    height: 91px;
    width: 216px;
}

    #detailDiv p {
        margin: 7px 6px 0 0;
    }

    #detailDiv h3 {
        margin: 0;
    }

    #detailDiv ul, menu, dir {
        margin-left: -56px;
        padding-left: 56px;
        margin-top: 0;
    }

#DivTitle {
    width: 209px;
    height: auto;
    text-align: left;
    padding-top: 10px;
}

.ui-block-b #DivTitle p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ui-block-b #DivTitle p {
    display: block;
    display: -webkit-box;
    max-width: 236px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #444;
}

#DivTitleKeyword {
    width: 209px;
    height: auto;
    text-align: left;
    padding-top: 10px;
}

.ui-block-b #DivTitleKeyword p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ui-block-b #DivTitleKeyword p {
    display: block;
    display: -webkit-box;
    max-width: 236px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #444;
}

.ui-content {
    margin: 5px !important;
    padding: 0 !important;
}

.img-rounded {
    border-radius: 10px !important;
}

#MovieCastInfo .ui-content {
    padding: 0px !important;
}

#MovieList, #MovieKeywordList, #FindKeywordMovie .ui-icon-bars, #Discover .ui-icon-bars, #Discover .ui-icon-search, #FindGenreMovie .ui-icon-bars, #FindGenreMovie .ui-icon-search, #DiscoverMovieDetail .ui-icon-bars, #DiscoverMovieDetail .ui-icon-search, #SearchMovie .ui-icon-search, #SearchMovie .ui-icon-bars {
    border-bottom: none !important;
}

#DivName {
    width: 172px;
    height: auto;
    text-align: left;
    padding-top: 10px;
}

.ui-block-b #DivName p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ui-block-b #DivName p {
    display: block;
    display: -webkit-box;
    max-width: 236px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #444;
}

.img-round {
    border-radius: 5px !important;
}

#genresName li a {
    padding-left: 3px;
}


#FindKeywordMovie [data-role='header'] h1 {
    text-transform: capitalize !important;
}

#FindGenreMovie [data-role='header'] h1 {
    text-transform: capitalize !important;
}


#KeywordFindInfo span.ui-corner-all {
    float: left;
    padding: 5px;
    background-color: black;
    color: white;
    margin-top: 2px;
}

#KeywordFindInfo .ui-grid-b > .col-xs-4 img {
    height: 120px;
    width: 80px !important;
    margin: 6px 0px 0px 0px;
}

#GenreFindInfo .ui-grid-b > .col-xs-4 img {
    height: 120px;
    width: 80px !important;
}

#FindGenreMovie [data-role='header'].ui-header-fixed {
    padding-top: 20px;
}

#GenreFindInfo .ui-grid-b .col-xs-4 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

    #GenreFindInfo .ui-grid-b .col-xs-4 img {
        padding-top: 7px;
    }

#GenreFindInfo .ui-grid-b .ui-block-a img {
    margin: 7px 8px 0px 8px;
}

#DivTitleGenre {
    width: 216px;
    height: auto;
    text-align: left;
    padding-top: 10px;
}

.ui-block-b #DivTitleGenre p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ui-block-b #DivTitleGenre p {
    display: block;
    display: -webkit-box;
    max-width: 236px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #444;
}

#GenreFindInfo span.ui-corner-all {
    float: left;
    padding: 5px;
    background-color: black;
    color: white;
    margin-top: 2px;
}

.ui-grid-b.tab {
    margin-top: 0.5em;
    text-align: center;
}

#movieImg {
    height: auto;
    width: 80px;
}

#detailDiv {
    display: inline-block;
    margin: -3px 0px 0px 23px;
    position: absolute;
}

.tabImage {
    background-image: url("../css/images/spinningwheel.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    background-color: #ededee;
}

/*#mediaSlider li {
    background-color: black;
}*/
#DiscoverMovieDetail .ui-content {
    overflow-y: hidden !important;
}

#mediaSlider li {
    height: 200px !important;
}
